#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-container {
  flex-grow: 1;
  margin-left: 200px;
  padding: 20px;
}

ul {
  list-style-type: none;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  background-color: #f8f9fa;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-logo img {
  width: 100px;
  margin-bottom: 20px;
}

.navbar-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.navbar-links li {
  margin-bottom: 10px;
}

.navbar-links a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

.navbar-links a:hover {
  color: #007bff;
}

h1 {
  font-family: "eds-market-bold-script", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #06aed5;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  max-height: 300px;
  overflow-y: hidden;
}

.card-body {
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}

.card-text::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 20px;
  /* background: linear-gradient(to bottom, #646cff, #535bf2);
  animation: card-gradient 2s infinite; */
}

#stars {
  height: 1em;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}
